<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="UtopiaMusic" Language="1033" Version="$(var.Version)" Manufacturer="UtopiaXC" UpgradeCode="d47c0f04-de00-4329-98e4-f4dbd0d2b275">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="UtopiaMusic" />
      </Directory>
    </Directory>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
  </Product>
</Wix>
